
.container
{
     margin:auto;
    text-align: center;
   
}
.container-elements
{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap:10px;
}
.container-elements > input
{
    padding: 10px 20px;
}